# HTTPS Redirect
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Send everything to index.html
RewriteRule . /index.html [L]